<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73870320186-g049p5vviig4jf75vvcug32f3bhe07p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73870320186-g049p5vviig4jf75vvcug32f3bhe07p0</string>
	<key>API_KEY</key>
	<string>AIzaSyDle4fPI5bcy4DXDzO2EIOC9OL7uzN1xUk</string>
	<key>GCM_SENDER_ID</key>
	<string>73870320186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthen</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-6bef5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-6bef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73870320186:ios:1e3ea77317824a96b14b03</string>
</dict>
</plist>